PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE Orders (
    ORDER_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    USER_ID INTEGER NOT NULL,
    ORDER_DATETIME DATETIME NOT NULL,
    ORDER_STATUS TEXT CHECK(ORDER_STATUS IN ('pending', 'in progress', 'delivered', 'canceled')) NOT NULL,
    PAYMENT_METHOD TEXT CHECK(PAYMENT_METHOD IN ('cash', 'card', 'PIX')) NOT NULL,
    TOTAL_AMOUNT REAL NOT NULL,
    NOTES TEXT,
    RESTAURANT_ID INTEGER NOT NULL,
    DELIVERY_PERSON_ID INTEGER,
    TRACKER_ID INTEGER,
    FOREIGN KEY (USER_ID) REFERENCES Users(USER_ID),
    FOREIGN KEY (RESTAURANT_ID) REFERENCES Restaurants(RESTAURANT_ID),
    FOREIGN KEY (DELIVERY_PERSON_ID) REFERENCES DeliveryPersons(DELIVERY_PERSON_ID),
    FOREIGN KEY (TRACKER_ID) REFERENCES Trackers(TRACKER_ID)
);
CREATE TABLE Users (USER_ID INTEGER PRIMARY KEY AUTOINCREMENT, FIRST_NAME VARCHAR (30) NOT NULL, LAST_NAME VARCHAR (30) NOT NULL, EMAIL VARCHAR (30) NOT NULL, PASSWORD VARCHAR (30) NOT NULL, PHONE INTEGER NOT NULL, ADDRESS VARCHAR NOT NULL, REGISTRATION_DATE DATETIME, PHOTO BLOB);
CREATE TABLE OrderItems (
    ORDER_ITEM_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    ORDER_ID INTEGER NOT NULL,
    PRODUCT_ID INTEGER NOT NULL,
    QUANTITY INTEGER NOT NULL,
    UNIT_PRICE REAL NOT NULL,
    TOTAL_PRICE REAL NOT NULL,
    FOREIGN KEY (ORDER_ID) REFERENCES Orders(ORDER_ID),
    FOREIGN KEY (PRODUCT_ID) REFERENCES Products(PRODUCT_ID)
);
CREATE TABLE Trackers (
    TRACKER_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    ORDER_ID INTEGER,
    CURRENT_LOCATION TEXT NOT NULL,
    TRACKING_STATUS TEXT CHECK(TRACKING_STATUS IN ('in progress', 'delivered')) NOT NULL,
    FOREIGN KEY (ORDER_ID) REFERENCES Orders(ORDER_ID)
);
CREATE TABLE Products (
    PRODUCT_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    RESTAURANT_ID INTEGER NOT NULL,
    PRODUCT_NAME TEXT NOT NULL,
    DESCRIPTION TEXT NOT NULL,
    CATEGORY TEXT NOT NULL,
    UNIT_PRICE REAL NOT NULL,
    PHOTO BLOB,
    AVAILABILITY TEXT CHECK(AVAILABILITY IN ('in stock', 'out of stock')) NOT NULL,
    PROMOTION TEXT,
    FOREIGN KEY (RESTAURANT_ID) REFERENCES Restaurants(RESTAURANT_ID)
);
CREATE TABLE Restaurants (
    RESTAURANT_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    RESTAURANT_NAME TEXT NOT NULL,
    ADDRESS TEXT NOT NULL,
    OPERATING_HOURS TEXT NOT NULL,
    RATING REAL NOT NULL,
    DELIVERY_FEE REAL NOT NULL,
    ESTIMATED_DELIVERY_TIME TEXT NOT NULL,
    PHOTO BLOB,
    STATUS TEXT CHECK(STATUS IN ('open', 'closed', 'under maintenance')) NOT NULL
);
CREATE TABLE DeliveryPersons (
    DELIVERY_PERSON_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    NAME TEXT NOT NULL,
    PHOTO BLOB,
    MOTORCYCLE_PLATE TEXT NOT NULL,
    RATING REAL NOT NULL,
    STATUS TEXT CHECK(STATUS IN ('available', 'busy')) NOT NULL,
    CURRENT_LOCATION TEXT
);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('Users',0);
COMMIT;
